*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #34495e;
    font-family: Arial, sans-serif;
    /* display: flex;
    align-items: center; */
    /* min-height: 100vh;          最小高度，设置为百分百窗口高度 */
}

/* 头部样式 */
#top{
    width: 100%;
    height: 80px;
    background: #253443;
    color:white;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;        /*配合flex，使元素垂直居中*/
    justify-content: space-around;    /*配合flex，使元素水平居中*/
}

select {
    width: 80px;
    font-size: 15px;
    padding: 5px;
    /* font-weight: bold;          字体加粗 */
    appearance: none;           /* 取消选项后面的下三角 */
    -webkit-appearance: none;
    -moz-appearance: none;
    color: white;
    border-radius: 0;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    border: none;
    border-bottom: 1px solid ghostwhite;
}
select:focus{
    outline: 0;
}
label span{
    color: white;
    font-weight: bold;
    font-size: 15px;
}
option {
    /* font-weight: bold; */
    /* padding: 5px; */
    color: rgb(26, 56, 83);
    border-radius: 0;
    background-color: #cae4fe;
    height: 60px;
}


#down{
    width: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 15px;
}
h2{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 0px;
}
#horn:hover{
    cursor: pointer;
}
/* 输入框样式 */
.answer{
    width:200px;
    outline: none;
    font-size: 16px;
    line-height: 25px;
    padding:0 5px;
    border: none;
    border-bottom: 2px solid white;
    background-color: rgba(0, 0,0, 0);
    color: white;
    margin-top: 10px;
    margin-left: 5px;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.answer:focus{
    box-shadow: 0 0 5px rgba(236, 228, 104, 0.897);
}

/* 提示词样式 */
.hint{
    color: white;
    font-size: 20px;
    /* width: 100px; */
    display: inline-block;
    /* margin: auto, 5px; */
}

/* 词性输入 der die das */
.gender{
    box-sizing: border-box;
    outline: none;
    /* border: 2px solid #ccc; */
    border: none;
    border-bottom: 2px solid white;
    /* padding: 8px; */
    /* border-radius: 5px; */
    font-size: 16px;
    width: 40px;
    /* height: 30px; */
    line-height: 25px;
    text-align: center;
    margin: 0;
    color: white;
    background-color: rgba(0, 0,0, 0);
    display: inline-block;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.gender:focus{
    /* border-color: #007bff; */
    box-shadow: 0 0 5px rgba(236, 228, 104, 0.897);
}

#answer_example{
    border: 1px solid rgb(114, 114, 114);
    border-radius: 5px;
    padding: 10px 10px;
    resize: none;
    font-size: 16px;
    outline: none;
    background-color: #34495e;
    color: white;
}

/* 例句 */
#example{
    font-family: inherit;
    padding: 5px 5px;
    color: wheat;
    font-size: 20px;
}

#word_example{
    color: rgba(255, 255, 255, 0.1);
}

#word_example:hover{
    color: wheat;;
}

#check_button{
    width: 100%;
    height: 60px;
    color: white;
    background-color: #207e28;
    max-width: 250px;
    display: inline-block;
    font-size: 30px;
    border: none;
    border-radius: 5px;
}
#check_button:hover{
    cursor: pointer;
}


#check_result{
    width: 100%;
    height: 160px;
    position: absolute;
    bottom: 0px;
    visibility: hidden;
    padding: 0 10px;
    /* background-color: rgba(150, 251, 251, 0.434); */
    border-top: 2px solid #fff;
    display: flex;
    justify-content: center;
}
.wrong_or_right{
    height: 100%;
    width: 15%;
    /* min-width: 150px; */
    max-width: 200px;
    position: absolute;
    top: 0%;
    left: 5px;
    /* background-color: #253443; */
    /* display: inline-block; */
    padding: auto;
}
.center_100px{
    width: 100px;
    height: 100px; 
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 50%;
    margin-left: -50px;
}


.continue{
    width: 160px;
    height: 50px;
    
    border-radius: 10px;
    border: none;
    background-color: rgb(39, 39, 39);
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -25px;
    
    font-weight: bold;
    font-size: 28px;
    font-family: 'Lato', sans-serif;
    color: white;
}